@charset "UTF-8";
/* Scss Document */
/*スマホ版*/
.title {
  text-align: left;
  font-size: 2vw;
  font-weight: 600;
  color: #89b34c;
  margin-bottom: 2vw;
}
@media (min-width: 700px) and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* サイドバーの装飾 */
  /* Scss Document */
}
.contents .section-contents__sidebar {
  width: 18%;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: 0;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 6px 0 10px -6px rgba(0, 0, 0, 0.5);
}
.contents .section-contents__sidebar .section-sidebar {
  position: sticky;
  top: 10px;
}
.contents .section-contents__sidebar .section-sidebar img {
  width: 60%;
  margin: 2vw;
}
.contents .section-contents__sidebar .section-sidebar .sidebar_menu-list {
  width: 80%;
  margin: 0 auto 5vw auto;
  padding: 0;
}
.contents .section-contents__sidebar .section-sidebar .sidebar_menu-list li {
  text-align: center;
  list-style: none;
  margin-bottom: 2vw;
  font-size: 1.1vw;
  font-weight: 400;
}
.contents .section-contents__sidebar .section-sidebar .sidebar_menu-list li:last-child {
  margin-bottom: 0;
}
.contents .section-contents__sidebar .section-sidebar .sidebar_menu-list li a {
  color: #333;
  text-decoration: none;
}
.contents .section-contents__sidebar .section-sidebar__reserve-button {
  width: 90%;
  height: 3vw;
  margin: 0 auto 1.5vw auto;
  background-color: #b08b5f;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.contents .section-contents__sidebar .section-sidebar__reserve-button p {
  width: 65%;
  text-align: right;
  font-size: 1.2vw;
  font-weight: 500;
}
.contents .section-contents__sidebar .section-sidebar__reserve-button img {
  width: 12%;
  margin: 0;
}
.contents .section-contents__sidebar .section-sidebar__address-tell {
  width: 85%;
  margin: 0 auto;
  text-align: left;
}
.contents .section-contents__sidebar .section-sidebar__address-tell address {
  font-style: normal;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0.05vw;
  margin-bottom: 10px;
}
.contents .section-contents__sidebar .section-sidebar__address-tell p {
  font-size: 1vw;
  line-height: 1.5vw;
}
.contents .section-contents__sidebar .section-sidebar__address-tell p span {
  font-size: 1.5vw;
  font-weight: 600;
}
@media (min-width: 700px) and (max-width: 1000px) {
  .contents .section-contents__sidebar .section-sidebar .sidebar_menu-list li a {
    font-size: 1.3rem;
  }
  .contents .section-contents__sidebar .section-sidebar__reserve-button p {
    font-size: 1rem;
  }
  .contents .section-contents__sidebar .section-sidebar__address-tell {
    width: 90%;
  }
  .contents .section-contents__sidebar .section-sidebar__address-tell address {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .contents .section-contents__sidebar .section-sidebar__address-tell address span {
    font-size: 1.2rem;
  }
  .contents .section-contents__sidebar .section-sidebar__address-tell p {
    font-size: 1rem;
  }
  .contents .section-contents__sidebar .section-sidebar__address-tell p span {
    font-size: 1.3rem;
  }
}
@media (max-width: 700px) {
  .contents .section-contents__sidebar {
    display: none;
  }
}
.contents__right {
  width: 82%;
  /* トップの装飾 */
  /* Scss Document */
}
.contents__right .section-top {
  padding: 0 50px;
  height: 10vh;
  margin: 20vh auto 25vw auto;
}
.contents__right .section-top h1 {
  letter-spacing: 0.5rem;
  font-size: 2.5vw;
  font-weight: 500;
  margin-bottom: 2vw;
}
.contents__right .section-top p {
  letter-spacing: 0.3rem;
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 3.5vw;
}
.contents__right .section-top img {
  width: 10%;
}
@media (max-width: 700px) {
  .contents__right .section-top {
    padding: 0 30px;
    margin-bottom: 45vw;
  }
  .contents__right .section-top h1 {
    font-size: 2rem;
  }
  .contents__right .section-top p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .contents__right .section-top img {
    width: 15%;
  }
}
.contents__right .section-blog {
  padding: 0 50px;
  text-align: left;
}
.contents__right .section-blog__list {
  list-style: none;
}
.contents__right .section-blog__list li {
  padding-bottom: 2vw;
  border-bottom: dashed 2px #89b34c;
  margin-bottom: 3vw;
}
.contents__right .section-blog__list li .blog {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #89b34c;
  margin-bottom: 1.8vw;
}
.contents__right .section-blog__list li .blog__date {
  width: 12%;
  font-size: 1.5vw;
  font-weight: 400;
}
.contents__right .section-blog__list li .blog__title {
  width: 87%;
  font-size: 1.8vw;
}
.contents__right .section-blog__list li .blog-text {
  width: 90%;
  line-height: 2.5vw;
  font-size: 1.3vw;
  font-weight: 400;
}
.contents__right .section-blog__number {
  list-style: none;
  text-align: center;
  margin-bottom: 5vw;
  font-size: 0;
  display: flex;
  justify-content: center;
}
.contents__right .section-blog__number li {
  padding: 0.8vw 1vw;
  border: solid 2px #89b34c;
}
.contents__right .section-blog__number li:first-child {
  border-right: none;
}
.contents__right .section-blog__number li:nth-child(2) {
  border-right: none;
}
.contents__right .section-blog__number li:nth-child(3) {
  border-right: none;
}
.contents__right .section-blog__number li:nth-child(4) {
  border-right: none;
}
.contents__right .section-blog__number li a {
  display: block;
  text-decoration: none;
  color: #89b34c;
  font-size: 2vw;
}
@media (max-width: 700px) {
  .contents__right .section-blog {
    padding: 0 30px;
  }
  .contents__right .section-blog__list li {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .contents__right .section-blog__list li .blog {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .contents__right .section-blog__list li .blog__date {
    width: 100%;
    font-size: 1.3rem;
  }
  .contents__right .section-blog__list li .blog__title {
    width: 100%;
    font-size: 1.8rem;
  }
  .contents__right .section-blog__list li .blog-text {
    width: 95%;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  .contents__right .section-blog__number {
    margin-bottom: 40px;
  }
  .contents__right .section-blog__number li {
    padding: 5px 10px;
  }
  .contents__right .section-blog__number li a {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .contents__right {
    width: 100%;
  }
}

/* フッターの装飾 */
/* Scss Document */
.footer {
  width: 100%;
  background-color: #CFE094;
  text-align: center;
}
.footer__menu-list {
  padding: 3vw 15vh;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-bottom: solid 3px #b1cc54;
}
.footer__menu-list li {
  width: 15%;
}
.footer__menu-list li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.4vw;
  font-weight: 500;
}
@media (min-width: 700px) and (max-width: 1000px) {
  .footer__menu-list li {
    width: 20%;
  }
  .footer__menu-list li a {
    font-size: 1.5rem;
  }
}
.footer__menu-list li:first-child {
  width: 10%;
}
.footer__second {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__second__rogo-address {
  text-align: left;
  width: 30%;
}
.footer__second__rogo-address img {
  width: 55%;
}
.footer__second__rogo-address address {
  margin-top: -2vw;
  margin-bottom: 1vw;
  line-height: 2vw;
  font-style: normal;
  font-size: 1.3vw;
  font-weight: 500;
}
.footer__second__rogo-address address span {
  font-size: 1vw;
}
.footer__second__rogo-address p {
  font-size: 1vw;
  font-weight: 500;
}
.footer__second__rogo-address p span {
  font-size: 2vw;
  font-weight: 600;
}
.footer__second__callender {
  text-align: left;
  width: 64%;
}
.footer__second__callender img {
  width: 100%;
  margin-bottom: 5px;
}
.footer__second__callender p {
  font-size: 1.3vw;
  font-weight: 400;
}
.footer__third {
  width: 60%;
  margin: 0 auto 5vw auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
}
.footer__third__address {
  display: none;
}
.footer__third p {
  font-size: 1.8rem;
  font-weight: 400;
}
.footer__third p span {
  font-size: 2.5rem;
  font-weight: 600;
}
.footer__third .scroll-top {
  width: 35px;
  height: 35px;
  border: solid 4px #89b34c;
  cursor: pointer;
  text-align: right;
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 500;
}
.footer__third .scroll-top a {
  width: 100%;
  text-decoration: none;
  color: #333;
  position: relative;
}
.footer__third .scroll-top a img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__callender {
  display: none;
}
.footer__sp-second {
  display: none;
}
.footer .copyright {
  font-size: 1vw;
  text-align: center;
  padding-bottom: 1vw;
}
@media (min-width: 700px) and (max-width: 1000px) {
  .footer__second__rogo {
    width: 28%;
  }
  .footer__second__rogo img {
    width: 100%;
  }
  .footer__second__callender {
    width: 60%;
  }
  .footer__second__callender img {
    width: 100%;
  }
  .footer__second__callender p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .footer__third address {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .footer__third address span {
    font-size: 1.3rem;
  }
  .footer__third p {
    font-size: 1.3rem;
  }
  .footer__third p span {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .footer__menu-list {
    display: none;
  }
  .footer__second {
    display: none;
  }
  .footer__callender {
    padding-top: 30px;
    display: block;
  }
  .footer__callender img {
    width: 80%;
  }
  .footer__callender p {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .footer__sp-second {
    display: flex;
    margin: 20px auto 0 auto;
    width: 80%;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footer__sp-second__menu-list {
    list-style: none;
    text-align: left;
  }
  .footer__sp-second__menu-list li {
    margin-bottom: 10px;
  }
  .footer__sp-second__menu-list li a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .footer__third {
    width: 80%;
  }
  .footer__third__address {
    display: block;
    text-align: left;
    width: 70%;
    margin-top: -5vh;
    margin-left: 10vw;
  }
  .footer__third__address address {
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-style: normal;
  }
  .footer__third__address address span {
    font-size: 1.3rem;
  }
  .footer__third p {
    font-size: 1.3rem;
  }
  .footer__third p span {
    font-size: 1.8rem;
  }
  .footer__third .scroll-top {
    right: 30px;
  }
}

/* ハンバーガーボタンの装飾 */
/* Scss Document */
#header-nav {
  display: none;
}

.nav-button {
  display: none;
}

@media (max-width: 700px) {
  .nav-button {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 20px auto 0 auto;
  }
  .nav-button__reserve-button {
    display: block;
    width: 70%;
    height: 60px;
    background-color: #b08b5f;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  .nav-button__reserve-button p {
    width: 75%;
    letter-spacing: 0.05em;
    font-size: 2rem;
    font-weight: 500;
  }
  .nav-button__reserve-button img {
    width: 10%;
    margin: 0;
  }
  .nav-button__hamburger-button {
    position: relative;
    content: "";
    width: 20%;
    height: 60px;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
  }
  .nav-button__hamburger-button__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 30px;
    cursor: pointer;
  }
  .nav-button__hamburger-button__box__line {
    display: block;
    position: absolute;
    top: 0;
    width: 40px;
    height: 5px;
    border-radius: 20px;
    background-color: #89b34c;
    transition: 0.7s;
    z-index: 1010;
  }
  .nav-button__hamburger-button__box #line1 {
    top: 0;
  }
  .nav-button__hamburger-button__box #line2 {
    top: 13px;
  }
  .nav-button__hamburger-button__box #line3 {
    top: 26px;
  }
  .nav-button__hamburger-button__box.active span:nth-child(1) {
    transform: translateY(13px) rotate(-45deg);
  }
  .nav-button__hamburger-button__box.active span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
    transition: 1s;
  }
  .nav-button__hamburger-button__box.active span:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
  }

  #header-nav {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-150%);
    transition: 1s;
  }
  #header-nav .menu-box {
    width: 100%;
    height: 100vh;
    padding: 120px 30px 30px 30px;
    background-color: #fdfff6;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  #header-nav .menu-box img {
    width: 30%;
    height: 100px;
    object-fit: contain;
  }
  #header-nav .menu-box ul {
    width: 80%;
    padding-top: 30px;
    list-style: none;
  }
  #header-nav .menu-box ul li {
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: dashed 2px #89b34c;
  }
  #header-nav .menu-box ul li a {
    text-decoration: none;
    color: #89b34c;
    font-size: 1.8rem;
    font-weight: 600;
  }
  #header-nav.menu-in {
    transform: translateX(0);
    transition: 1s;
  }
}
